{% extends 'dash/main.html' %}

{% load static %}

{% block contents %}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
              <div class="row">
                  <div class="col-md-7">
                    {% for field in form %}
                    {% if field.errors %}
                    <div id="noto" class=" text-white text-center alert alert-danger bg-danger alert-dismissible fade show" role="alert">
                        {{ field.errors|striptags }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
                    <div class="card table-card">
                        <div class="card-header">
                            <h5>Password Change Form</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block">
                            <form method="post" class="ml-4" >
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold" for="">Old Password</label>
                                        <input class="form-control" type="password" name="old_password" id="id_old_passsword">
                                    </div>
                                </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold" for="">New Password</label>
                                            <input class="form-control" type="password" name="new_password1" id="id_new_passsword1">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-md-6">
                                            <label class="font-weight-bold" for="">Confirm Password</label>
                                            <input class="form-control" type="password" name="new_password2" id="id_new_passsword2">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row ml-2">
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-warning btn-lg mb-20" >Change Now</button>
                                    </div>
                                </div>
                                <div class="mb-4"></div>
                            </form>
                        </div>
                    </div>
                  </div>
              </div>
                   
            </div>
          
        </div>
    </div>
        <!-- Page-body end -->
</div>
<div id="styleSelector"></div>  
{% endblock contents %}