{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Plumar | Checkout</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block contents %}
{% include 'includes/nav.html' %}
    <!--Error section start-->
    <div class="error-section section  pt-70 pt-lg-50 pt-md-30 pt-sm-10 pt-xs-0 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% if status == 'cancelled' %}
                        <div class="error-404 not-found">
                            <!-- <div class="text-404" style="background-image:url({% static 'assets/img/404.png' %});"></div> -->
                            <div class="text-label-404">
                                <div class="alert alert-danger">
                                    <span class="font-weight-bold" ><i class="fa fa-info-circle" ></i> Your payment has been cancelled</span>
                                </div>
                                <h1></h1>
                            </div>
                            <div class="home-link">
                                <span>No Payment have been made yet, please you can return to </span><a class="text-dark" href="{% url 'packs' %}"><b>a package page</b> </a><span>
                            and try to pay again if problem persists be sure to contact us <i class="fa fa-smile text-warning" ></i> </span>
                            </div>
                            <div class="search-404">
                                <a style="font-size: 25px;" href="#"><i class="fab fa-facebook text-primary"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-instagram ml-4 text-danger"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-linkedin ml-4 text-primary"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-twitter ml-4 text-primary"></i></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="error-404 not-found">
                            <!-- <div class="text-404" style="background-image:url({% static 'assets/img/404.png' %});"></div> -->
                            <div class="text-label-404">
                                <div class="alert alert-success">
                                    <span class="font-weight-bold" > <i class="fa fa-check-circle" ></i> Your payment was Successfull</span>
                                </div>
                            </div>
                            <div class="home-link">
                                <span>We have recieved you payment you can now start listing your opportunities </span><a class="text-dark" href="{% url 'opps' %}">
                                    <b>Here</b> </a><span>
                            also follow us on our social media handles below and let's fly together..kudos <i class="fa fa-smile" ></i></span>
                            </div>
                            <div class="search-404">
                                <a style="font-size: 25px;" href="#"><i class="fab fa-facebook text-primary"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-instagram ml-4 text-danger"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-linkedin ml-4 text-primary"></i></a>
                                <a style="font-size: 25px;" href="#"><i class="fab fa-twitter ml-4 text-primary"></i></a>
                            </div>
                        </div>
                    {% endif %}
    
                </div>
            </div>
        </div>
    </div>
    <!--Error section end-->
{% endblock contents %}

{% block footer %}
{% endblock footer %}