
    <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog1">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Delete Experince</h5>
              <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&#10006;</a>
            </div>
            <div class="modal-body" id="edit1">
                <span class="text-danger font-weight-bold" >
                   {{exp.company_name}}
                </span>
            </div>
            <div class="ml-4 mt-3 mb-20">
                <a href="" class="btn btn-danger text-white">Delete</a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>