<div class="col-md-4 mb-3">
    <div style="height: 200px; background-color: white; opacity: .8; margin-left: 10px; border-radius: 10px;
     background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url({% static 'assets/img/soft.jpg' %});"  >
         <h4 style="font-weight: bolder; text-align: center; padding-top: 10px;" ><a class="btn btn-warning rounded-pill text-dark" href="http://www.plumarschool.com/courses/">Software  Engineering</a></h4>
        <!-- <p style="margin-left: 10px; margin-top: 10px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. ipsam dignissimos sequi cumque?</p> -->
    </div>
</div>
<div class="col-md-4 mb-3">
    <div style="height: 200px; background-color: white; opacity: .8; margin-left: 10px; border-radius: 10px;
    background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url({% static 'assets/img/prod.jpeg' %});"  >
         <h4 style="font-weight: bolder; text-align: center; padding-top: 10px;" ><a class="btn btn-warning rounded-pill text-dark" href="http://www.plumarschool.com/courses/">Tech Products</a></h4>
        <!-- <p style="margin-left: 10px; margin-top: 10px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. ipsam dignissimos sequi cumque?</p> -->
    </div>
</div>
<div class="col-md-4 mb-3">
    <div style="height: 200px; background-color: white; opacity: .8; margin-left: 10px; border-radius: 10px; 
    background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url({% static 'assets/img/hr.jpeg' %});" >
         <h4 style="font-weight: bolder; text-align: center; padding-top: 10px;" ><a class="btn btn-warning rounded-pill text-dark" href="http://www.plumarschool.com/courses/">Hr Tech</a></h4>
        <!-- <p style="margin-left: 10px; margin-top: 10px;" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. ipsam dignissimos sequi cumque?</p> -->
    </div>
</div>