
{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Plumar | Password Reset</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block contents %}
{% include 'includes/nav.html' %}
    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="page-breadcrumb-content">
                        <ul class="page-breadcrumb">
                            <li><a href=".">Home</a></li>
                            <li>Password Reset</li>
                        </ul>
                        <h1>Password Reset</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Breadcrumb Section Start -->

     

        <!-- Login Register Section Start -->
        <div class="login-register-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row no-gutters">
                    {% if form.errors %}
                    <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                            <span >-{{ field.errors|striptags }} <br></span>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                    <div class="col-lg-8">
                        <div class="login-register-form-area">
                            <div class="login-tab-menu">
                                <ul class="nav">
                                    <li><a class="active show" data-toggle="tab">Password Reset</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="login" class="tab-pane fade show active">
                                    <div class="login-register-form">
                                        <form method="post">
                                            {% csrf_token %}
                                            <p>Please put the email below Note: Your email must be registered with your account.</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="">Enter You Email below</label>
                                                    <div class="single-input">
                                                        {{ form.email }}
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-25"><button type="submit" class="ht-btn">Submit</button></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Login Register Section End -->

      

{% endblock contents %}
     