{% extends 'base.html' %}

{% block contents %}

{% block title %}
    <title>Plumar | Talents</title>
{% endblock title %}

{% block header %}
{% endblock header %}
{% include 'includes/nav.html' %}
 <style>
     .rating span{
         display: none;
     }
 </style>

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>Talents Listing</li>
                            </ul>
                            <h1>Talents Listing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->
        <!-- Candidates Listing Section Start -->
        <div class="candidates-listing-section section bg_color--5 pb-120 pb-lg-100 pb-md-75 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row no-gutters">

                    <div class="col-lg-4 order-lg-1 order-2 pr-55 pr-md-15 pr-sm-15 pr-xs-15">
                        <div class="sidebar-wrapper-two mt-sm-40 mt-xs-40">
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Find A Talent</h2>
                                <div class="sidebar-search-form-two">
                                    <form action="" method="get">
                                        <div class="input-group">
                                            <input type="text" name="q" placeholder="Search...">
                                            <i class="lnr lnr-magnifier"></i>
                                        </div>
                                        <button type="submit" class="ht-btn theme-btn theme-btn-two w-100">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Location</h2>
                                <div class="sidebar-category">
                                    <form action="" method="get">
                                        <select class="nice-select wide" name="q" onchange="this.form.submit()" >
                                            <option value="1">Choose Location</option>
                                            <option value="Dar es salaam">Dar es salaam</option>
                                            <option value="Arusha">Arusha</option>
                                            <option value="Tanga">Tanga</option>
                                            <option value="Kilimanjaro">Kilimanjaro</option>
                                            <option value="Pwani">Pwani</option>
                                            <option value="Dodoma">Dodoma</option>
                                            <option value="Singida">Singida</option>
                                            <option value="Tabora">Tabora</option>
                                            <option value="Mwanza">Mwanza</option>
                                            <option value="Shinyanga">Shinyanga</option>
                                            <option value="Mara">Mara</option>
                                            <option value="Rukwa">Rukwa</option>
                                            <option value="Kagera">Kagera</option>
                                            <option value="Katavi">Katavi</option>
                                            <option value="Njombe">Njombe</option>
                                            <option value="Iringa">Iringa</option>
                                            <option value="Mwanza">Mwanza</option>
                                            <option value="Mbeya">Mbeya</option>
                                            <option value="Morogoro">Morogoro</option>
                                        </select>
                                    </form>
                                </div>
                                <!-- <div class="sidebar-location-range mt-10">
                                    <div class="location-range">
                                        <label for="amount">Radius:</label>
                                        <input type="text" id="amount" readonly>
                                    </div>
                                    <div id="slider-range-min"></div>
                                </div> -->
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Category</h2>
                                <div class="sidebar-category">
                                    <form action="" method="get">
                                        <select class="nice-select wide" name="q" onchange="this.form.submit()">
                                            <option value="1">Choose Category</option>
                                            <option value="accounting">Accounting</option>
                                            <option value="Broadcasting">Broadcasting</option>
                                            <option value="Customer Service<">Customer Service</option>
                                            <option value="marketing">Digital Marketing</option>
                                            <option value="Finance & Accounting">Finance & Accounting</option>
                                            <option value="mobile">Game Mobile</option>
                                            <option value="Graphics Design">Graphics & Design</option>
                                            <option value="human Resources">Human Resources</option>
                                            <option value="medicine">Medical Doctor</option>
                                            <option value="hospitality">Hospitality</option>
                                            <option value="marketing">Sale & Marketing</option>
                                            <option value="sales">Sale Assistance</option>
                                            <option value="Science & Analitycs">Science & Analitycs</option>
                                            <option value="Teachers">Teachers</option>
                                            <option value="software">Web & Software Dev</option>
                                            <option value="Writing & Translations">Writing & Translations</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Type</h2>
                                <form action="" method="get">
                                    <ul class="sidebar-cbx-list">
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="contractual" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx">
                                                <label for="type-cbx">Contract (0)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="freelance" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx">
                                                <label for="type-cbx">Freelance (0)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="voluntering" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-two">
                                                <label for="type-cbx-two"> Voluntering (3)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="full time" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-three">
                                                <label for="type-cbx-three">Full Time (13)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="internship" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-four">
                                                <label for="type-cbx-four">Internship (1)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="part-time" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-five">
                                                <label for="type-cbx-five">Part Time (2)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="remote" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-six">
                                                <label for="type-cbx-six">Remote (2)</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input value="temporary" onchange="this.form.submit()" type="checkbox" name="q" id="type-cbx-seven">
                                                <label for="type-cbx-seven">Temporary (2)</label>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Gender</h2>
                                <ul class="sidebar-cbx-list">
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="gender-cbx">
                                            <label for="gender-cbx">Female (10)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="gender-cbx-two">
                                            <label for="gender-cbx-two"> Male (8)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Experience</h2>
                                <form action="" method="get">
                                    <ul class="sidebar-cbx-list">
                                        <li>
                                            <div class="filter-name-item">
                                                <input onchange="this.form.submit()" value="0" type="checkbox" name="q" id="experience-cbx">
                                                <label for="experience-cbx">Less than 1</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input onchange="this.form.submit()" value="2-5" type="checkbox" name="q" id="experience-cbx-two">
                                                <label for="experience-cbx-two">2-5 year</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input onchange="this.form.submit()" value="5-8" type="checkbox" name="q" id="experience-cbx-three">
                                                <label for="experience-cbx-three">5-8years</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="filter-name-item">
                                                <input onchange="this.form.submit()" value="8" type="checkbox" name="q" id="experience-cbx-four">
                                                <label for="experience-cbx-four">8 and More </label>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <!-- <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Salary Range</h2>
                                <form method="get" action="">
                                    <div class="input-group" style="width: 100%;">
                                        <select  class="nice-select wide" name="q" id="" onchange="this.form.submit()">
                                            <option value="0">____Search By Salary Range</option>
                                            <option value="0 - 500k">0 - 500k'</option>
                                            <option value="00k - 1M">00k - 1M</option>
                                            <option value="1M - 3M">1M - 3M</option>
                                            <option value="3M - 5M">3M - 5M</option>
                                            <option value="5M - 8M">5M - 8M</option>
                                            <option value="8M and More">8M and More</option>
                                        </select>
                        
                                    </div>
                                </form>
                            </div> -->
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Skills</h2>
                                <ul class="sidebar-tag">
                                    <li><a href="?q=accounting">Account Manager</a></li>
                                    <li><a href="?q=management">Management</a></li>
                                    <li><a href="?q=mobile">Android</a></li>
                                    <li><a href="?q=mobile">iOS</a></li>
                                    <li><a href="?q=front-end">Angular</a></li>
                                    <li><a href="?q=web">ASP.NET</a></li>
                                    <li><a href="?q=automation">Automotion</a></li>
                                    <li><a href="?q=graphis">Banner</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <div class="sidbar-image">
                                    <a href="#">
                                        <img src="assets/images/banner/ads-three.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-2 order-1">
                        <div class="filter-form">
                            <div class="result-sorting">
                                <div class="total-result">
                                    <span class="total">({{ talents_count }})</span>
                                    Results Found
                                </div>
                                <div class="form-left">
                                    <div class="sort-by">
                                        <form action="#">
                                            <label class="text-sortby">Sort by:</label>
                                            <select class="nice-select">
                                                <option value="1">Title</option>
                                                <option value="2">Date</option>
                                                <option value="3">Salary</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="layout-switcher">
                                        <ul class="nav">
                                            <li><a class="active show" data-toggle="tab" href="#list"><i class="fa fa-list"></i></a></li>
                                            <li><a data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="list" class="tab-pane fade show active">
                                <div class="row">
                                    {% for data in talent %}
                                    <div class="col-lg-12 mb-20">
                                        <!-- Single Job Start  -->
                                        <div class="single-job style-two">
                                            <div class="info-top align-items-start">
                                                <div class="job-image candidates-image">
                                                    <a href="{% url 'talent_details' data.slug %}">
                                                        <img style="height: 90px; width: 90px;" src="{{ data.user.profile.image.url }}" alt="logo">
                                                    </a>
                                                </div>
                                                <div class="job-info">
                                                    <div class="job-info-inner">
                                                        <div class="job-info-top">
                                                            <div class="saveJob for-listing">
                                                                <span class="featured-label mr-20">featured</span>
                                                                <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                    <i class="far fa-heart"></i>
                                                                </a>
                                                            </div>
                                                            <div class="title-name">
                                                                <h3 class="job-title">
                                                                    <a href="{% url 'talent_details' data.slug %}">{{data.user.first_name}} {{ data.user.last_name }}</a>
                                                                </h3>
                                                                <div class="employer-name d-inline-flex">
                                                                    <span>{{ data.profession }}</span>
                                                                    <div class="ml-3 rating "> 
                                                                        {% include 'includes/rating_for_list_view.html' %}
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="job-meta-three">
                                                            <div class="field-experience-time">
                                                                <i class="lnr lnr-graduation-hat"></i>
                                                                <span class="label">Experience</span>
                                                                <a href="#">{{data.years_of_experience}}</a>
                                                            </div>
                                                            <div class="field-map"><i class="lnr lnr-map-marker"></i>{{ data.location }}</div>
                                                            <div class="field-hour-rate"><i class="fas fa-money-check-alt"></i>
                                                             {{ data.salary_expectation }} / Month</div>
                                                        </div>
                                                        <div class="job-skill-tag">
                            
                                                            {% for datas in data.get_skills|slice:"5" %}
                                                            <a href="#">{{datas.skill}}</a>
                                                            {% endfor %}
                                                            {% if  data.get_skills.count > 5 %}
                                                            <a href="{% url 'talent_details' data.slug %}">More Skills</a>
                                                            {% endif %}
                                                        </div>
                                                        <!-- <div class="candidates-portfolio">
                                                            <ul>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio1.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio2.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio3.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio4.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio5.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio6.jpg" alt=""></a></li>
                                                            </ul>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Job End -->
                                    </div>
                                    {% empty %}
                                    <span class="text-danger font-weight-bolder ml-5" >No result for found</span>
                                    {% endfor %}

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <nav aria-label="Page navigation example">
                                            {% if talent.has_other_pages %}
                                                <ul class="pagination">
                                                    {% if talent.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link text-dark" href="?page={{ talent.previous_page_number }}" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                    <li class="page-item disabled text-center"></li>
                                                    {% endif %}
    
                                                    {% for i in talent.paginator.page_range %}
                                                        {% if talent.number == i %}
                                                            <li class="page-item "><a class="page-link  bg-warning text-dark" href="?page={{i}}">{{ i }}</a></li>
                                                        {% else %}
                                                            <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
    
                                                    {% if talent.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-dark" href="?page={{ talent.next_page_number }}" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                    <li class="page-item disabled text-center"></li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                          </nav>
                                    </div>
                                </div>
                            </div>
                            <div id="grid" class="tab-pane fade">
                                <div class="row">
                                    {% for data in talent %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <!-- Single Job Start  -->
                                        <div class="single-job style-two candidates-grid">
                                            <div class="info-top align-items-start">
                                                <div class="candidate-job">
                                                    <span class="featured-label mr-20">featured</span>
                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </div>
                                                <div class="job-image candidates-image">
                                                    <a href="{% url 'talent_details' data.slug %}">
                                                        <img style="height: 90px; width: 90px;" src="{{ data.user.profile.image.url }}" alt="logo">
                                                    </a>
                                                   <div class="mt-3 mb-n4">
                                                    {% include 'includes/rating_for_list_view.html' %}
                                                   </div>
                                                </div>
                                                <div class="job-info">
                                                    <div class="job-info-inner">
                                                        <div class="job-info-top mt-10">
                                                            <div class="title-name">
                                                                <h3 class="job-title">
                                                                    <a href="{% url 'talent_details' data.slug %}">{{data.user.first_name}} {{data.user.last_name}}</a>
                                                                </h3>
                                                                <div class="employer-name">
                                                                    <span class="font-weight-bold">{{data.profession}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="job-meta-three d-block mt-n2">
                                                            <div class="field-experience-time">
                                                                <i class="lnr lnr-graduation-hat"></i>
                                                                <span class="label">{{data.years_of_experience}}</span>
                                                                <a href="#">3-5 years</a>
                                                            </div>
                                                            <div class="field-hour-rate"><i class="fas fa-money-check-alt"></i>
                                                                <span class="label">Salary Expectation</span> {{data.salary_expectation}}</div>
                                                            <div class="field-map"><i class="lnr lnr-map-marker"></i>{{data.location}}</div>
                                                        </div>
                                                        <div class="job-skill-tag">
                                                            {% for data in data.get_skills %}
                                                            <a href="#">{{ data.skill }}</a>
                                                            {% endfor %}
                                                          
                                                        </div>
                                                        <!-- <div class="candidates-portfolio">
                                                            <ul>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio1.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio2.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio3.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio4.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio5.jpg" alt=""></a></li>
                                                                <li><a href="#"><img src="assets/images/portfolio/portfolio6.jpg" alt=""></a></li>
                                                            </ul>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Job End -->
                                    </div>
                                    {% empty %}
                                    <span class="text-danger font-weight-bolder ml-5" >No result for found</span>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <nav aria-label="Page navigation example">
                                            {% if talent.has_other_pages %}
                                                <ul class="pagination">
                                                    {% if talent.has_previous %}
                                                        <li class="page-item">
                                                            <a class="page-link text-dark" href="?page={{ talent.previous_page_number }}" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                    <li class="page-item disabled text-center"></li>
                                                    {% endif %}
    
                                                    {% for i in talent.paginator.page_range %}
                                                        {% if talent.number == i %}
                                                            <li class="page-item "><a class="page-link  bg-warning text-dark" href="?page={{i}}">{{ i }}</a></li>
                                                        {% else %}
                                                            <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{ i }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
    
                                                    {% if talent.has_next %}
                                                        <li class="page-item">
                                                            <a class="page-link text-dark" href="?page={{ talent.next_page_number }}" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                    <li class="page-item disabled text-center"></li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                          </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Candidates Listing Section End -->

        <!-- Candidates Grid Section Start -->
        <div class="candidates-grid-section section pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-90 pb-lg-70 pb-md-50 pb-sm-30 pb-xs-20">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-four mb-40">
                            <h3>Recent viewed</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for data in talents|slice:"4" %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mb-30">
                        <!-- Single Job Start  -->
                        <div class="single-job style-two candidates-grid">
                            <div class="info-top align-items-start">
                                <div class="candidate-job">
                                    <span class="featured-label mr-20">featured</span>
                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                                <div class="job-image candidates-image">
                                    <a href="{% url 'talent_details' data.slug %}">
                                        <img style="height: 90px; width: 90px;" src="{{ data.user.profile.image.url }}" alt="logo">
                                    </a>
                                </div>
                                <div class="job-info">
                                    <div class="job-info-inner">
                                        <div class="job-info-top mt-30">
                                            <div class="title-name">
                                                <h3 class="job-title">
                                                    <a href="{% url 'talent_details' data.slug %}">{{ data.user.first_name }}</a>
                                                </h3>
                                                <div class="employer-name">
                                                    <span>{{ data.profession }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-meta-three">
                                            <div class="field-experience-time">
                                                <i class="lnr lnr-graduation-hat"></i>
                                                <span class="label">Experience</span>
                                                <a href="#">{{ data.years_of_experience }}</a>
                                            </div>
                                            <div class="field-map"><i class="lnr lnr-map-marker"></i>{{ data.location }}</div>
                                            <div class="field-hour-rate"><i class="lnr lnr-thumbs-up"></i>
                                                <span class="label">Salary Expectations</span>{{ data.salary_expectation }}</div>
                                        </div>
                                        <div class="job-skill-tag">
                                            {% for data in data.get_skills|slice:"5" %}
                                                <a href="#">{{ data.skill}}</a>
                                            {% endfor %}
                                            {% if data.get_skills.count > 5 %}
                                                <a href="{% url 'talent_details' data.slug %}">More Skills</a>
                                            {% endif %}
                                        </div>
                                        <!-- <div class="candidates-portfolio">
                                            <ul>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio1.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio2.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio3.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio4.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio5.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/images/portfolio/portfolio6.jpg" alt=""></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Job End -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Candidates Grid Section End -->
{% endblock contents %}